html { 
	
    background: url(images/background.jpg) no-repeat center center fixed;          /*  for scaling background image  */
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   font-family: 'helvetica neue';
 }
 
 .navbar navbar-expand-lg navbar-light bg-light{
     background-color: #003d66;
 }
 .nav-item :hover{
     background-color: #ffcc00;
 }