<%- include("partials/header") -%>

<link rel="icon" 
      type="image/png" 
      href="/css/logo.png" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Ticket</title>
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 767px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style> 
  <!-- Custom styles for this template -->
   <link href="/css/book.css" rel="stylesheet">
</head>
<body>

<div class ="bookbox">

<img src ="/css/logo.png" class ="logo"height="40px" width="50px">
<br><br>
<header>BOOK YOUR TICKET</header>
    <br>
<form class="form-label-group"  method="POST" action="/book">

    <div class="form-label-group">
        <input type="text" class="form-control" placeholder="From*" name="from" required autofocus size="50">
        <label for="from">From*</label>
      </div>
      
    <div class="form-label-group">
        <input type="text" class="form-control" placeholder="To*" name="to" required autofocus>
        <label for="to">To*</label>
      </div>

    <div class="form-label-group">
        <input type="date" id="date" name="date" class="form-control">
      </div>  
    
    <div class="form-label-group">  
       <br> 
        
    </div>
    <br><br><br>
    <!-- <input type="submit" name="" value="Login"> -->
    <a href="/"><button type="submit" class="new1">Book Your Train</button></a>
    <br><br><br>
</form>
</div>
<%- include("partials/footer") -%>