<%- include("partials/header") -%>


<title>PNR Status</title>
<link rel="icon" 
  type="image/png" 
  href="/css/logo.png" >
  
<link rel="stylesheet" type="text/css" href="/css/pnr.css">
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">

<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 767px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style> 
  <!-- Custom styles for this template -->
   <link href="pnr.css" rel="stylesheet">
</head>
<body>

<div class ="pnrbox">

    <img src ="/css/logo.png" class ="logo"height="40px" width="50px">
    <br>
    <h2>PASSENGER CURRENT STATUS</h2>
        <p class="beltext" style="text-align: center; color: rgb(204, 181, 181);">Enter the pnr for your booking below to get the current status. You will find it on the top left corner of your ticket. </p>
        <br><br>
        <form class="form-label-group"  method="POST" action="/pnr">

            <div class="form-label-group">
                <input type="text" class="form-control" name="pnr" placeholder="pnr" required autofocus>
                <label for="pnr">PNR Number</label>
            </div>
            <br>  
            <!-- <input type="submit" name="" value="Login"> -->
            <a href=""><button type="submit" class="new1">Get Status</button><br></a>
            <!-- <a href=""><button type="button" class="new1">Clear</button><br></a> -->
            <br><br><br>
            </div>
            
        </form>

</div>

<%- include("partials/footer") -%>